@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF Distant Galaxy';
  src: url('../SfDistantGalaxy-0l3d.ttf');
}
@font-face {
  font-family: 'SF Distant Galaxy Outline';
  src: url('../SfDistantGalaxyOutline-xoeO.ttf');
}
